body {
  width: 600px;
  margin: 0 auto;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: grey;
  font-size: 30px;
}

input {
  font-size: 20px;
  padding: 2px 2px;
}

button {
  padding: 10px 10px;
  font-size: 15px;
  background-color: orange;
  border-radius: 10px 10px;
}

#finalresult {
  height: 40px;
  border: 2px solid green;
}
